 :root{
--blue: rgba(200,250,258,.4);
--orange: rgba(244,141,20,.7);
}

@media screen and (max-width: 700px)
{
  h1{
color: yellow  !important;

}
h3{
  margin-bottom:50px !important
}
#welcome-section{
  height:  !important;
  position: relative !important;
width:100vw !important;
margin-bottom:;
}
#w-r{
  top: 50% !important
}
footer, #projects{
  display: block !important;
position:relative !important
 
}
footer{
  top:0 !important;
  margin-top: 0 !important;
  padding: !important;
  margin-bottom: !important;
  margin-left: 0px !important;
  margin-right:0px !important;
  width:100% !important;
  font-size:20px;
  display:block;
  height:100vw !important
}
#projects{
  top:0vh !important;
  padding-top: 0 !important;
display: block;
  height: auto !important;
  margin: 0 !important;
  perspective: unset !important;
   padding-bottom: 0px !important;
   perspective-origin:unset !important;

}

#icons, #profile{
  font-size:50px !important
}
html::-webkit-scrollbar{
display:none
}
main, html, body{ 
  display: block !important;
  margin-bottom:0px !important;
  perspective: unset !important;
  perspective-origin: unset !important;
  margin-top:0px !important;
  margin-left:-4;
  scrollbar-width: none !important;
}
.project-tile{
  display: inline-block;
  margin-top:0px !important;
  margin-bottom: 100px !important;
  margin-left:10 !important;
margin-right:0 !important;
transform:rotatey(0deg) !important;
perspective:unset !important;
perspective-origin:unset !important;


}
.tile-label{
  left:0% !important;
  display:block;
  margin:auto;
  position:relative !important;
  top:10rem !important;
  transform:unset !important
}

 


}
/** mediaQuery Ends...........**/





.fadeInUpBig{
  animation-delay:0s;
  animation-duration:5s !important;
  transition-property:all;
  transition-duration:5s;
  visibility:visible !important
}
#sun{
  display:block;
  position:absolute;
  right:-100px;
  top:-25px;
max-width:calc(25vw + 50px);
max-height:20vw;  
  border-radius:100%;
  z-index:110;
  transform:scale(1.);
  background:

}


#sun-glow{
  position:absolute;
  display:block;
  max-width:5vw !important;
max-height:9vw !important;
  background:;
  border-radius:50%;
  right:-5px;
  top:0px;
  animation-name: glow;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
  animation-duration:15s;
       box-shadow:-50px 10px 100px 2vw yellow, -10px 5px 90px 3vw rgba(250,10,10,.5);

  z-index:15;
  transform:rotatez(0deg)!important;
  perspective:1100px;
  overflow:none

}
.back{
 display:b;
 position:relative ;
 z-index:1000;
  width:50vw;
 height:50vh;
  background:rgba(255,255,250,.5);
  left:-90vw;
    opacity:0;
transform:rotatez(0deg) translatex(calc(0px - 0px)) ;
margin:auto;
transition-property:all !important;
transition-duration:.51s !important;
transition-timing-function:linear;
top:50vh;
transform-style:preserve-3d;
backdrop-filter:blur(15px);
-webkit-backdrop-filter:blur(15px);
-moz-backdrop-filter:blur(15px)

}
#container-space{
  top:00px;
  display:block;
  width:100px;
  height:100px;
  border:2px  blue;
  position:absolute;
  transform:rotatez(95deg);
  background:;
  
}

.cc{
  top:10px;
  display:;
  position:relative;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
  animation-duration:60s !important;
background:;
  z-index:20;
  width:40px !important;
  height:110px;
  opacity:1 !important;
  right:10px;
  animation-name:space;
  transform-origin:0px left
}
#space-ship{
  content:"";
  position:absolute;
  display:;
  background:url(./space.png);
 width:calc(25vw + 50px) !important;
 height:150px;
 right:25vw;
  background-repeat:no-repeat;
  background-size:100% 100%;
  z-index:1110 !important;
  transform:scale(.3);
  border:1px  yellow
  

}
 #container-space:hover ~ .back{
  display:block !important;
opacity:1;
transform:rotatez(0deg) translatez(0vw)  !important;

}

.cc:hover{
  animation-play-state:paused;
  opacity:1 !important;
}


@keyframes glow{
  50%{
     box-shadow:-59px 10px 100px 1vw yellow, 2px 30px 80px 1vw rgba(250,10,10,.5);
  }
  
}



html{

height:100vh;
;
scroll-behavior:smooth;

}
html::before{
  content:"";
  position:fixed;
  width:100vw;
  height:100vh;
  background:red;
  z-index:-100;
  background:url(./stars.jpg)

}
html::-webkit-scrollbar{
display:none
}

body{
  padding:0px 0px 0px 0px;
  overflow-x:hidden;
  scroll-behavior:smooth;
  margin:0;
}
main{
  margin:0;
  text-align:center;
  margin-bottom:10px;
  z-index:
  
}
nav a{
  display:block;
  position:relative;
  text-decoration:none;
  border-bottom:.1rem white solid;
  border-radius:5px;
  padding:4px;
  color:yellow;
  font-size:1rem;
  font-family:;
  transition-property:transform;
  transition-duration:.53s;
  transform:translatez(5px);
  transform-style:preserve-3d;
  z-index:10000
   
}
nav a:hover{

  background: rgba(0,255,100,.5);
  color:yellow;
 
  border:1px white solid;
  transform:translate3d(0px, -3px, 0px) scalex(.9);
  transition-property:transform;
  transition-duration:.3s;
  border-radius:10px
    

}

nav{
  display:block;
  position:fixed;
  top:-10px;
  opacity:1;
  width:100%;
  left:0px;
  height:auto;
  margin:auto;
   background:;
   z-index:10;
   perspective:800px;
   perspective-origin:top -10px
  
}
#black{
  width:100%;
  height:40px;
  position:fixed;
  background:rgba(5,25,00,.5);
  left:0;
  top:0;
  z-index:5;
  backdrop-filter: blur(3px)
}
 ul{
  display:flex;
  position:relative;
  flex-direction:row;
  justify-content:space-evenly;

}
li{
  display:block;
}
#welcome-section{
  visibility:visible;
  position:relative !important;
  width:100%;
  height:calc(100vh - (100vw/100));
  z-index:-10;
   background:;
   background-size:cover;
   background-repeat:no-repeat;
   background-attachment:fixed;
   overflow:visisble;
   perspective:1000px;
   perspective-origin:left center;
   
}
#sun-id:hover ~ main #welcome-section h1{
  display:block;

  transform:scale(.461) translatey(-29vh);
}

h1{
  display:block;
  font-size:5vw;
  margin:auto !important;
  top:20vh;
  color:white;
  transition-property:all;
   transition-duration:.7s;
   position:relative;
   text-shadow:5px 10px 0px black
}

#w-l h2{
background:rgba(25,25,25,.3);
width:25vw;
height:6vw;
border-top:4px solid blue;
padding-top:15;
;
color:white;


}

#w-l{
  margin-right:50%;
  display:flex;
  position:absolute;
  top:39%;
  text-align:center;
  color:black;
  font-size:1.8vw;
left:2vw;
transition-property:all;
transition-delay:0s;
transform:translatez();
transform-style:preserve-3d;
visibility:hidden
}
#w-r h2{
  background:rgba(10,10,10,.3);
  width:35vw;
height:6vw;
border-top:5px solid green;
padding-top:15;
}

#w-r{
  position:absolute;
  display:flex;
  top:59vh;
  margin-left:40vw;
  text-align:center;
  right:2vw;
  font-size:1.8vw;
  color:white;
 transition-property:all; 
transition-delay:0s;
transform:translatez();
transform-style:preserve-3d;
visibility:hidden;

}

#projects{
  display:block;
  z-index:1;
  position:relative;
  top:0vh;
  height:auto;
  width:100%;
  margin-left:0px;
  padding-top:50px;
  perspective:1900px;
  padding-left:0px;
  perspective-origin:top right;
  padding-bottom:calc(200px - 7vh);

}

.project-tile
{
  position:relative;
  max-width:550px;
  min-width:calc(200px + 015vw);
   display:inline-flex;
  max-height:50px;
  min-height:calc(10vh + 200px);
  border:2px solid yellow;
  
 transform:rotatey(25deg) translatez(-100px) scale(1);
 transition-property: all;
 transform-style:preserve-3d;
 margin-top:20vw;
 margin-bottom:10vw;
 outline:2px solid green;
 margin-left:05vw;
 transition-delay:.4s;
z-index:;
margin-right:0vw;
transform-origin:-500px;
transition-duration:.53411s;
transition-timing-function:cubic-bezier(0, 1.02, 0.78, 1.168)



}


.project-tile:nth-child(3):hover,.project-tile:nth-child(2):hover
 {
   transform:rotatey(0deg) rotatex(0deg) translatey(-100px)translatez(0px) ;
  transition-property:transform;
  transition-delay:unset;
  transition-duration:.531s;
  transform-origin:-500px
  ;
  transition-timing-function:ease-out;
  cursor:pointer;
  outline-color:black;
 box-shadow:20px 20px 90px white;


  
}

.project-tile:nth-child(4):hover,.project-tile:nth-child(5):hover{
  transform:rotatey(0deg) rotatex(0deg) translatey(-150px) translatez(00px);
  transition-property:transform;
  transition-delay:unset;
  transition-duration:.5435s;
  transform-origin:-500px;
  transition-timing-function:ease-out;
    z-index:0;
      cursor:pointer;
outline-color:black;
 box-shadow:20px 20px 90px white;



}
h3{
  display:flex;
  position:relative;
  
  color:red;
  justify-content:space-evenly;
  text-align:left;
  margin-bottom:2vh;
  font-size:4.5vw
  
}

.project-tile:hover > .tile-label{
transform:translatey(20rem) translatex(0px) translatez(10px);
transition-property:all;
transition-duration:1s;

}


.tile-label{
 min-width:40%;
  height:10%;
  background:rgba(250, 250, 250, 0.9);
  margin:auto;
  position:absolute;
  top:80%;
  left:30%;
  outline:2px solid black;
  transform-style:preserve-3d;
  transform: translatez(50px);
  font-size:80%;
  display:block;
font-weight:bold;
font-family:serif;
padding:2%;
transition:all 1s;
filter:unset
}
.tile-label:hover{
  outline:2px solid red !important ;
  color:blue;
}
.tile-label a{
  color:green;
  text-decoration:none
}
#t-id-3{
  background:url(./survey-form.png);
  background-position:center;
  background-size:100% 100%;
  background-repeat:no-repeat;
  
}

#t-id-1{
  background:url(./documentation-page.png);
  background-position:center;
  background-size:100% 100%;
  background-repeat:no-repeat;

}

#t-id-2{
  background:url(./product-landing-page.png);
  background-position:center;
  background-size:100% 100%;
  background-repeat:no-repeat;

  
}
#t-id-4{
  background:url(./tribute-page.png);
  background-position:center;
  background-size:100% 100%;
  background-repeat:no-repeat;

}


footer{
  display:block;
  position:relative;
  width:100vw;
  height:500px;
  background:rgba(255, 165,0,.89) ;
  z-index:2;
  color:black;
  padding-top:0px;
  top: 0px;
  margin-top:calc(-0rem - 5vw);
  transform:translatey(0px);
  perspective:1000px;
  perspective-origin:top;

}

p{
  display:block;
  position:relative !important;
  margin:auto;
  text-align:center;
}
#f-div{
 padding-top:70px;
  color:black !important;
perspective-origin:top;
transform-style:preserve-3d;
}
#f-div h3, #f-div p{
  display:block;
  position:relative !important;
  color:black;
  margin:auto;
  text-align:center;

}
.fa, #icons{
  display:flex;
  position:relative;
  margin:auto;
flex-direction:row;
justify-content:space-between;
flex-wrap:wrap;
  perspective-origin:top top;
  transform-style:preserve-3d;
}
#icons{
perspective-origin:top top; transform-style:preserve-3d;
}
 .fa{
  font-size: calc(5vw + 100%/10) !important;
  transform-style:preserve-3d;
    perspective-origin:top top;
transition:transform .5s;
font-weight:bold;
}

.fa:hover{
  color:red;
  transform: rotatey(360deg) !important;
  transition-property:transform;
  transition-duration:.4s;
transition-delay:.3s;  transition-timing-function: linear;
  transform-style:preserve-3d;
}
#profile{
  
  display:flex;
  align-items:center;
  position:relative;
  top:150px;
justify-content:space-evenly;
transform-style:preserve-3d;
perspective-origin:top top;
}

.profile-link{
  position:relative;
  text-decoration:none !important;
  color:black;
  transform-style:preserve-3d;
  
}
footer #p{
  width:auto;
  position:absolute;
  top:100px
}

