:root{
--blue: rgba(200,250,258,.4);
--orange: rgba(244,141,20,.7);
}

@media screen and (max-width: 700px)
{
  h1{
color: yellow  !important;
}
#welcome-section{
  height:  !important;
  position: relative !important;
width:100vw !important;
margin-bottom:;
}
#w-r{
  top: 50% !important
}
footer, #projects{
  display: block !important;
position:relative !important
 
}
footer{
  top:0 !important;
  margin-top: 0 !important;
  padding: 5 !important;
  margin-bottom: 0 !important;
  margin-left: -5px !important;
  margin-right:0px !important;
  width:100% !important;
}
#projects{
  top:0vh !important;
  padding-top: 0 !important;
display: block;
  height: auto !important;
  margin: 0 !important;
  perspective: unset !important;
   padding-bottom: 0px !important;
   perspective-origin:unset !important;
   border-bottom:10px solid

  
}
html::-webkit-scrollbar{
display:none
}
main, html, body{ 
  display: block !important;
  margin-bottom:0px !important;
  perspective: unset !important;
  perspective-origin: unset !important;
  margin-top:0px !important;
  margin-left:-4;
  scrollbar-width: none !important;
}
.project-tile{
  display: inline-block;
  margin-top:15 !important;
  margin-bottom: 100 !important;
  margin-left:10 !important;
margin-right:0 !important;
transform:rotatey(360deg) !important;
perspective:unset !important;
perspective-origin:unset !important;
max-width:70%;
max-height:60vh

}



}
/** mediaQuery Ends...........**/
img{
  display:block;
  position:absolute;
  right:-110px;
  top:0px;
  transform:scale(1.5);
  
  border-radius:50%

}
#me{
  position:fixed;
  display:block;
  width:180px;
  height:180px;
  background:;
  border-radius:50%;
  right:-50px;
  top:0;
  animation-name: glow;
  
  animation-duration:5s;
       box-shadow:-10px 5px 90px yellow, -15px 5px 90px rgba(250,10,10,.5);

  z-index:111;
}
#us{
  display:block;
  position:relative;
  animation-name:space;
  animation-duration:60s;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
  transform:rotate(-110deg)
}
#us:after{
  content:"";
  position:relative;
  display:flex;
  background:url(stars.png);
  width:20vw;
  height:300px;
  right:50vw;
  background-repeat:no-repeat;
  background-size:contain;
  z-index:0 !important;
  transform:scale()
  
  

}

@keyframes glow{
  50%{
     box-shadow:-60px 40px 110px yellow, -22px 30px 110px rgba(250,10,10,.5);
  }
  
}

 spce{
  100%{
      transform:rotate(10deg)

  }
}
html{

height:100vh;
;
scroll-behavior:smooth;

}
html::before{
  content:"";
  position:fixed;
  width:100vw;
  height:100vh;
  background:red;
  z-index:-10;
  background:url(beyond-infinity/stars.jpg)

}
body{
  padding:50px 0px 0px 0px;
  overflow-x:hidden;
  scroll-behavior:smooth;
  margin:0
}
main{
  margin:0;
  text-align:center;
  margin-bottom:10px;
  
}
nav a{
  text-decoration:none;
  border-bottom:.1rem rgba(50,90,190) solid;
  border-radius:5px;
  padding:3px;
  color:red;
  font-size:1rem;
  font-family:;
}

nav{
  display:block;
  position:fixed;
  top:0px;
  opacity:1;
  width:100%;
  left:0px;
  height:60px;
  margin:auto;
   background:var(--blue);
   z-index:10;
  
}
#white{
  width:100%;
  height:60px;
  position:fixed;
  background:white;
  left:0;
  top:0;
  z-index:1
}
 ul{
  display:flex;
  position:relative;
  flex-direction:row;
  justify-content:space-evenly;

}
li{
  display:block;
}
#welcome-section{
  visibility:visible;
  position:relative !important;
  width:100%;
  height:150vh;
  z-index:0;
   background:;
   background-size:cover;
   background-repeat:no-repeat;
   background-attachment:fixed;
   overflow:hidden;
   perspective:1000px;
   perspective-origin:left center;
}


h1{
  display:block;
  font-size:5vw;
  position:relative;
  margin:0 !important;
  top:10vh;
  color:white
}
#w-l h2{
background:rgba(25,25,25,.3);
width:25vw;
height:6vw;
border-top:4px solid blue;
padding-top:15;
;
color:white;


}
.flipIny, .hinge{
  animation-delay:3s
}

#w-l{
  margin-right:50%;
  display:flex;
  position:absolute;
  top:39%;
  text-align:center;
  color:black;
  font-size:1.8vw;
left:2vw;
transition-property:all;
transition-delay:0s;
transform:translatez();
transform-style:preserve-3d;
}
#w-r h2{
  background:rgba(10,10,10,.3);
  width:35vw;
height:6vw;
border-top:5px solid green;
padding-top:15;
}

#w-r{
  position:absolute;
  display:flex;
  top:59vh;
  margin-left:40vw;
  text-align:center;
  right:2vw;
  font-size:1.8vw;
  color:white;
 transition-property:all; 
transition-delay:0s;
transform:translatez();
transform-style:preserve-3d;

}

#projects{
  display:block;
  z-index:-10;
  position:absolute;
  top:100vh;
  height:auto;
  width:100%;
  margin-left:0px;
  padding-top:50px;
  perspective:1000px;
  padding-left:0px;
  perspective-origin: top ;
  padding-bottom:calc(700px - 70vh);

}

.project-tile
{
  position:relative;
  max-width:550px;
  min-width:300px;
   display:inline-block;
  max-height:400px;
  min-height:calc(20vh + 150px);
  border:2px solid yellow;
  
 transform:rotatey(45deg) translatez(0px) scale(1);
 transition: all .5s;
 transform-style:preserve-3d;
 margin-top:100px;
 margin-bottom:-10px;
 outline:5px solid green;
 margin-left:10px;
 transition-delay:.4s


}


.project-tile:nth-child(3):hover,.project-tile:nth-child(2):hover
 {
   transform:rotatey(0deg) rotatex(0deg) translatey(-50px)translatez(10px) ;
  transition-property:all;
  transition-delay:unset;
  transition-duration:.5s;
  transform-origin:bottom;
  transition-timing-function:ease-out;
  cursor:pointer;
  outline-color:black;
 box-shadow:20px 20px 90px white;

  
}

.project-tile:nth-child(4):hover,.project-tile:nth-child(5):hover{
  transform:rotatey(0deg) rotatex(0deg) translatey(20px) translatez(0px);
  transition-property:transform;
  transition-delay:unset;
  transition-duration:.5s;
  transform-origin:bottom;
  transition-timing-function:ease-out;
    z-index:0;
      cursor:pointer;
outline-color:black;
 box-shadow:20px 20px 90px white;


}
h3{
  display:flex;
  position:relative;
  
  color:red;
  justify-content:space-evenly;
  text-align:left;
  margin-bottom:2vh;
  font-size:4.5vw
  
}
.p-t{
 min-width:40%;
  height:15%;
  background:rgba(250, 250, 250, 0.9);
  margin:auto;
  position:absolute;
  top:70%;
  left:25%;
  outline:2px solid black;
  transform-style:preserve-3d;
  transform: translatez(80px);
  font-size:80%;
  display:block;
font-weight:bold;
font-family:serif;
padding:2%
}
.p-t:hover{
  outline:2px solid red !important ;
  color:blue;
}
.p-t a{
  color:green;
  text-decoration:none
}
#t-id-3{
  background:url(beyond-infinity/survey-form.png);
  background-position:center;
  background-size:100% 100%;
  background-repeat:no-repeat;
  
}

#t-id-1{
  background:url(beyond-infinity/documentation.png);
  background-position:center;
  background-size:100% 100%;
  background-repeat:no-repeat;
 
}

#t-id-2{
  background:url(beyond-infinity/product.png);
  background-position:center;
  background-size:100% 100%;
  background-repeat:no-repeat;

  
}
#t-id-4{
  background:url(beyond-infinity/tribute.png);
  background-position:center;
  background-size:100% 100%;
  background-repeat:no-repeat;
  
}


footer{
  display:block;
  position:absolute;
  width:100%;
  height:500px;
  background:rgba(255, 165,0,.89) ;
   margin-left:;
  z-index:0;
  color:black;
  padding-top:0px;
  top: calc(1400px + 90vh);
  margin-top:calc(-400px + 40vh);
  transform:translatey(0px);
  perspective:1000px;
  perspective-origin:top;

}

p{
  display:block;
  position:relative !important;
  margin:auto;
  text-align:center;
}
#f-div{
 padding-top:70px;
  color:black !important;
perspective-origin:top;
transform-style:preserve-3d;
}
#f-div h3, #f-div p{
  display:block;
  position:relative !important;
  color:black;
  margin:auto;
  text-align:center;

}
.fa, #icons{
  display:flex;
  position:relative;
  margin:auto;
flex-direction:row;
justify-content:space-between;
flex-wrap:wrap;
  perspective-origin:top top;
  transform-style:preserve-3d;
}
#icons{
perspective-origin:top top; transform-style:preserve-3d;
}
 .fa{
  font-size: calc(5vw + 100%/10) !important;
  transform-style:preserve-3d;
    perspective-origin:top top;
transition:transform .5s;
font-weight:bold;
}

.fa:hover{
  color:red;
  transform: rotatey(360deg) !important;
  transition-property:transform;
  transition-duration:.4s;
transition-delay:.3s;  transition-timing-function: linear;
  transform-style:preserve-3d;
}
#profile{
  
  display:flex;
  align-items:center;
  position:relative;
  top:150px;
justify-content:space-evenly;
transform-style:preserve-3d;
perspective-origin:top top;
}

.profile-link{
  position:relative;
  text-decoration:none !important;
  color:black;
  transform-style:preserve-3d;
  
}
footer #p{
  width:auto;
  position:absolute;
  top:100px
}

